= form_for @restaurant, html: {multipart: true} do |f|
  %p= f.label :name
  %p= f.text_field :name
  Choose an image for your restaurant
  %p= f.file_field :image
  %p= f.submit

- if @restaurant.errors.any?
  %section#errors
    %h2
      = pluralize @restaurant.errors.count, "error"
      prohibited this restaurant from being saved:
    %ul
      - @restaurant.errors.full_messages.each do |message|
        %li= message
